@font-face{
  font-family: KanitThin;
  src:url('fonts/Kanit-Thin.ttf');
}
@font-face{
  font-family: KanitRegular;
  src:url('fonts/Kanit-Regular.ttf')
}
@font-face{
  font-family: KanitExtraLight;
  src:url('fonts/Kanit-ExtraLight.ttf')
}

html,body{
  font-family:  KanitRegular;
  height: 100%;
}
.login-background{
  background-color:#B2DFDB;
  height: 100%;
}
.login-background .login-frm{
  background-color:#fff;
  padding:10px;
  margin-top:6em;
  margin-bottom:2em;
}